//! **************************************************************************
// Written by: Map O.87xd on Tue Nov 28 11:52:09 2023
//! **************************************************************************

SCHEMATIC START;
COMP "SW0" LOCATE = SITE "L13" LEVEL 1;
COMP "SW1" LOCATE = SITE "L14" LEVEL 1;
COMP "SW2" LOCATE = SITE "H18" LEVEL 1;
COMP "SW3" LOCATE = SITE "N17" LEVEL 1;
COMP "Clk" LOCATE = SITE "C9" LEVEL 1;
COMP "VGA_Red<0>" LOCATE = SITE "A6" LEVEL 1;
COMP "VGA_Red<1>" LOCATE = SITE "B6" LEVEL 1;
COMP "VGA_Red<2>" LOCATE = SITE "E7" LEVEL 1;
COMP "VGA_Red<3>" LOCATE = SITE "F7" LEVEL 1;
COMP "VGA_Red<4>" LOCATE = SITE "D7" LEVEL 1;
COMP "VGA_Red<5>" LOCATE = SITE "C7" LEVEL 1;
COMP "VGA_Red<6>" LOCATE = SITE "F8" LEVEL 1;
COMP "VGA_Red<7>" LOCATE = SITE "E8" LEVEL 1;
COMP "VGA_Blue<0>" LOCATE = SITE "A13" LEVEL 1;
COMP "VGA_Blue<1>" LOCATE = SITE "B13" LEVEL 1;
COMP "VGA_Blue<2>" LOCATE = SITE "A14" LEVEL 1;
COMP "VGA_Blue<3>" LOCATE = SITE "B14" LEVEL 1;
COMP "VGA_Blue<4>" LOCATE = SITE "C14" LEVEL 1;
COMP "VGA_Blue<5>" LOCATE = SITE "D14" LEVEL 1;
COMP "VGA_Blue<6>" LOCATE = SITE "A16" LEVEL 1;
COMP "VGA_Blue<7>" LOCATE = SITE "B16" LEVEL 1;
COMP "VGA_HSync" LOCATE = SITE "C5" LEVEL 1;
COMP "VGA_Green<0>" LOCATE = SITE "F9" LEVEL 1;
COMP "VGA_Green<1>" LOCATE = SITE "E9" LEVEL 1;
COMP "VGA_Green<2>" LOCATE = SITE "D11" LEVEL 1;
COMP "VGA_Green<3>" LOCATE = SITE "C11" LEVEL 1;
COMP "VGA_Green<4>" LOCATE = SITE "F11" LEVEL 1;
COMP "VGA_Green<5>" LOCATE = SITE "E11" LEVEL 1;
COMP "VGA_Green<6>" LOCATE = SITE "E12" LEVEL 1;
COMP "VGA_Green<7>" LOCATE = SITE "F12" LEVEL 1;
COMP "DAC_CLK" LOCATE = SITE "A4" LEVEL 1;
COMP "VGA_VSync" LOCATE = SITE "D5" LEVEL 1;
NET "Clk_BUFGP/IBUFG" BEL "Clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

